body{
    background-color: whitesmoke;
    display: flex;
    align-items: center;
    justify-content: center;
}

.Fondo{
    background-color: white;
    width: 600px;
    height: 400px;
    border-radius: 30px;
}

.Titulo{
    color: black;
    display: flex;
    justify-content: center;
}

.Name{
    display: flex;
    justify-content: center;
}