.container-fluid{
    background-color: rgb(116, 116, 116);
    width: auto;
    height: 800px;
}

.tenis{
    border-radius: 50px;
    margin: 80px 0px 0px 20px;
}
  
.polera{
    border-radius: 50px;
    margin: 80px 0px 0px 310px;
}
  
.chompa{
    border-radius: 50px;
    margin: 80px 0px 0px 610px;
}
  
.gorra{
    border-radius: 50px;
    margin: 80px 0px 0px 1010px;
}

.container-fluid *{
    position: absolute;
}
